<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap"
      rel="stylesheet"
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Webcam Test</title>
    <link rel="stylesheet" href="/static/css/styles.css" />
  </head>
  <body>
    <div class="container">
      <video id="video" width="640" height="480" autoplay></video>
      <div id="chat">
        <div id="conversation"></div>
        <form id="chat-form">
          <input type="text" id="message" autocomplete="off" />
          <button type="submit">Send</button>
        </form>
      </div>
    </div>
    <script src="/static/js/app.js"></script>
  </body>
</html>
